.rightclickmenu {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

.context-menu {
position: absolute;
transition: 200ms linear;
}

.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #5e5e5e;
	border-radius: 10px;
	box-shadow: 0 0px 20px rgb(64 64 64 / 30%);
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.menu > li > a {
font: inherit;
border: 0;
width: 100%;
display: flex;
align-items: center;
position: relative;
text-decoration: unset;
color: #000;
font-weight: 500;
transition: 0.125s linear;
-webkit-transition: 0.125s linear;
-moz-transition: 0.125s linear;
-ms-transition: 0.125s linear;
-o-transition: 0.125s linear;
}

.menu > li > a > i {
padding-right: 10px;
}

.menu > li > a:hover {
color: rgb(212, 0, 0);
background:#424242;
}