.Ampersanlogo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: auto;
  height: 100%;
}

.vertical-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10vw;
  background-color: #333;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.horizontal-navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  overflow: auto;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.25s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #333;
  background-color: #333;
}

button a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
button a:hover {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}
